Repository smortex/grafana: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-betterer, frontend-eslint, frontend-format, backend-format, fix-cue

frontend-betterer:
  run: yarn betterer precommit {staged_files}

frontend-eslint:
  run: yarn eslint --ext .js,.tsx,.ts --cache --fix {staged_files}

frontend-format:
  run: yarn prettier --write {staged_files}

backend-format:
  run: gofmt -w -s {staged_files}

fix-cue:
  run: make fix-cue

Add styling to help tooltip
  public/app/features/alerting/unified/components/rule-editor/DetailsStep.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Fix styling on annotations controls
  public/app/features/alerting/unified/components/rule-editor/AnnotationsField.tsx
  public/app/features/alerting/unified/components/rule-editor/DashboardAnnotationField.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Fix tests
  public/app/features/alerting/unified/components/rule-editor/AnnotationsField.tsx
  public/app/features/alerting/unified/components/rule-editor/RuleEditorSection.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Fix misnamed variables, remove unused struct
  pkg/services/llm/vector/vector.go
  pkg/services/llm/vectorsync/vectorsync.go
Due: backend-format

grafana-data: added logs-frame-type
  packages/grafana-data/src/types/dataFrameTypes.ts
Due: frontend-betterer, frontend-eslint, frontend-format

enable dataplane-format in loki-backend
  pkg/tsdb/loki/frame.go
  pkg/tsdb/loki/testdata_dataplane/streams_parse_errors.golden.jsonc
  pkg/tsdb/loki/testdata_dataplane/streams_simple.golden.jsonc
  pkg/tsdb/loki/testdata_logs_dataplane/streams_parse_errors.golden.jsonc
  pkg/tsdb/loki/testdata_logs_dataplane/streams_simple.golden.jsonc
Due: backend-format

add feature flag
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Due: frontend-betterer, frontend-eslint, frontend-format, backend-format

logs: handle dataplane-compatible logs-frames
  public/app/core/logsModel.ts
  public/app/features/logs/legacyLogsFrame.ts
  public/app/features/logs/logsFrame.ts
Due: frontend-betterer, frontend-eslint, frontend-format

refactor: modify interfaces to make tooltip or aria-label required
  packages/grafana-ui/src/components/IconButton/IconButton.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Logs: create props to check for label filters in the query
  public/app/features/explore/Explore.tsx
  public/app/features/explore/Logs/Logs.tsx
  public/app/features/explore/Logs/LogsContainer.tsx
  public/app/features/logs/components/LogDetails.tsx
  public/app/features/logs/components/LogRow.tsx
  public/app/features/logs/components/LogRows.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Log Details Row: use label state props to show visual feedback
  public/app/features/logs/components/LogDetailsRow.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Update pkg/login/social/generic_oauth.go
  pkg/login/social/generic_oauth.go
Due: backend-format

Fix reference to old 'host' setting instead of new 'address' setting
  pkg/services/llm/vector/vector.go
  pkg/services/llm/vectorsync/vectorsync.go
  pkg/setting/setting_llm.go
Due: backend-format

Also sync datasource and dashboard objects to vector store
  pkg/api/llms.go
  pkg/services/llm/vector/vector.go
  pkg/services/llm/vectorsync/vectorsync.go
Due: backend-format

refactor: change functionality around aria-label and tooltip
  packages/grafana-ui/src/components/IconButton/IconButton.tsx
  packages/grafana-ui/src/components/Modal/Modal.tsx
  packages/grafana-ui/src/components/Tooltip/Tooltip.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

refactor: change and add information in storybook documentation
  packages/grafana-ui/src/components/IconButton/IconButton.mdx
Due: frontend-format

refactor: remove default from tooltip
  packages/grafana-ui/src/components/IconButton/IconButton.tsx
  packages/grafana-ui/src/components/Tooltip/Tooltip.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Make isCallbacks async
  public/app/features/explore/Logs/Logs.tsx
  public/app/features/explore/Logs/LogsContainer.tsx
  public/app/features/logs/components/LogDetails.tsx
  public/app/features/logs/components/LogRow.tsx
  public/app/features/logs/components/LogRows.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Explore: add placeholder for checking for filter in query
  public/app/features/explore/Explore.tsx
  public/app/features/logs/components/LogDetailsRow.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Wip
  package.json
  packages/grafana-runtime/package.json
  packages/grafana-runtime/src/utils/plugin.ts
  public/app/angular/AngularApp.ts
  public/app/features/plugins/plugin_loader.ts
  yarn.lock
Due: frontend-betterer, frontend-eslint, frontend-format

stop xorm from killing db connection
  pkg/services/store/entity/db/service.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
Due: backend-format

make dialects independent of xorm Engine
  pkg/services/sqlstore/migrations/accesscontrol/test/ac_test.go
  pkg/services/sqlstore/migrations/migrations_test.go
  pkg/services/sqlstore/migrations/ualert/migration_test.go
  pkg/services/sqlstore/migrator/dialect.go
  pkg/services/sqlstore/migrator/migrator.go
  pkg/services/sqlstore/migrator/mysql_dialect.go
  pkg/services/sqlstore/migrator/postgres_dialect.go
  pkg/services/sqlstore/migrator/sqlite_dialect.go
  pkg/services/sqlstore/sqlstore.go
Due: backend-format

rough cut at wiring entity store to a separate database
  pkg/infra/db/db.go
  pkg/infra/db/dbtest/dbtest.go
  pkg/server/wire.go
  pkg/services/export/entity_store.go
  pkg/services/sqlstore/logger.go
  pkg/services/sqlstore/migrator/dialect.go
  pkg/services/sqlstore/migrator/migrator.go
  pkg/services/sqlstore/migrator/mysql_dialect.go
  pkg/services/sqlstore/session/session.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/store/entity/db/service.go
  pkg/services/store/entity/migrations/entity_store_mig.go
  pkg/services/store/entity/migrations/migrator.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
  pkg/services/store/service.go
Due: backend-format

don't use reserved words left/right, tweak migrator
  pkg/services/store/entity/migrations/entity_store_mig.go
  pkg/services/store/entity/migrations/migrator.go
  pkg/services/store/entity/sqlstash/folder_support.go
Due: backend-format

quote field names
  pkg/services/sqlstore/session/session.go
  pkg/services/store/entity/db/service.go
  pkg/services/store/entity/sqlstash/querybuilder.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
Due: backend-format

refactor DSNode and extract function queryDataResponseToResults
  pkg/expr/nodes.go
Due: backend-format

implement support for ML node
  pkg/expr/graph.go
  pkg/expr/ml.go
  pkg/expr/ml/node.go
  pkg/expr/ml/outlier.go
  pkg/expr/ml/util.go
  pkg/expr/service.go
Due: backend-format

support ML query in ng-alerting
  pkg/expr/ml/util.go
  pkg/services/ngalert/eval/eval.go
Due: backend-format

add docs and image
  docs/sources/datasources/prometheus/query-editor/index.md
Due: frontend-format

update spelling and image
  docs/sources/datasources/prometheus/query-editor/index.md
Due: frontend-format

Fix tests
  public/app/features/alerting/unified/Receivers.test.tsx
  public/app/features/alerting/unified/RuleEditorExisting.test.tsx
  public/app/features/alerting/unified/components/rule-editor/AnnotationsField.test.tsx
  public/app/features/alerting/unified/components/rule-editor/AnnotationsField.tsx
  public/app/features/alerting/unified/components/rule-editor/DashboardAnnotationField.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Remove unused imports
  public/app/features/alerting/unified/RuleEditorExisting.test.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Alerting: Rewrite range to instant queries if possible
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/alert_rule_test.go
Due: frontend-betterer, frontend-eslint, frontend-format, backend-format

add more tests and move to it's own file
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/alert_rule_test.go
  pkg/services/ngalert/store/loki_range_to_instant.go
  pkg/services/ngalert/store/loki_range_to_instant_test.go
Due: backend-format

wrap call in NoError
  pkg/services/ngalert/store/loki_range_to_instant_test.go
Due: backend-format

add another test case
  pkg/services/ngalert/store/loki_range_to_instant_test.go
Due: backend-format

fix nil pointer in tests
  pkg/services/ngalert/store/alert_rule_test.go
Due: backend-format

move consts
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/loki_range_to_instant.go
Due: backend-format

Path conditions:
  frontend-betterer: any of: *.{ts,tsx}
  frontend-eslint: any of: *.{js,ts,tsx}
  frontend-format: any of: *.{js,ts,tsx,json,scss,md,mdx}
  backend-format: any of: *pkg/**/*.go
  fix-cue: any of: *kinds/**/*.cue
