Repository smortex/grafana: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-betterer, frontend-eslint, frontend-format, backend-format, fix-cue

lefthook.yml:

skip_output:
  - meta
  - execution_out
  - skips

pre-commit:
  commands:
    frontend-betterer:
      glob: '*.{ts,tsx}'
      run: yarn betterer precommit {staged_files}

    frontend-eslint:
      glob: '*.{js,ts,tsx}'
      run: yarn eslint --ext .js,.tsx,.ts --cache --fix {staged_files}

    frontend-format:
      glob: '*.{js,ts,tsx,json,scss,md,mdx}'
      run: yarn prettier --write {staged_files}

    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s {staged_files}

    fix-cue:
      glob: '*kinds/**/*.cue'
      run: make fix-cue

only change model and querytype if no error
  pkg/services/ngalert/store/loki_range_to_instant.go
Due: backend-format

also check -100, fix typo
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/loki_range_to_instant.go
Due: backend-format

create explore panel state for logs
  packages/grafana-data/src/types/explore.ts
Due: frontend-betterer, frontend-eslint, frontend-format

pass properties from explore to logs
  public/app/features/explore/Explore.tsx
  public/app/features/explore/Logs/Logs.tsx
  public/app/features/explore/Logs/LogsContainer.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

implement button and scrolling
  public/app/features/explore/Logs/Logs.tsx
  public/app/features/logs/components/LogRow.tsx
  public/app/features/logs/components/LogRowMessage.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

add css
  public/app/features/logs/components/getLogRowStyles.ts
Due: frontend-betterer, frontend-eslint, frontend-format

add props to LogRows and unify
  public/app/features/logs/components/LogRows.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

refactor: IconButton to make tooltip or aria-label required
  packages/grafana-ui/src/components/IconButton/IconButton.tsx
  packages/grafana-ui/src/components/Tooltip/Tooltip.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

wip
  public/app/features/explore/Logs/Logs.tsx
  public/app/features/explore/hooks/useStateSync.ts
  public/app/features/logs/components/LogRow.tsx
  public/app/features/logs/components/LogRows.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Datasource: define new API method
  packages/grafana-data/src/types/datasource.ts
Due: frontend-betterer, frontend-eslint, frontend-format

Inspect query: add base implementation
  packages/grafana-data/src/types/datasource.ts
  public/app/features/explore/Explore.tsx
  public/app/plugins/datasource/loki/datasource.ts
Due: frontend-betterer, frontend-eslint, frontend-format

Datasource test: fix describe nesting
  public/app/plugins/datasource/loki/datasource.test.ts
Due: frontend-betterer, frontend-eslint, frontend-format

Update docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
Due: frontend-format

refactor: Fix tests
  packages/grafana-ui/src/components/TagsInput/TagItem.tsx
  public/app/core/components/Layers/LayerDragDropList.test.tsx
  public/app/core/components/Layers/LayerDragDropList.tsx
  public/app/core/components/QueryOperationRow/QueryOperationRowHeader.tsx
  public/app/features/browse-dashboards/components/BrowseActions/DeleteModal.test.tsx
  public/app/features/browse-dashboards/components/BrowseActions/MoveModal.test.tsx
  public/app/features/library-panels/components/LibraryPanelsSearch/LibraryPanelsSearch.test.tsx
  public/app/features/query/components/QueryEditorRows.test.tsx
  public/app/features/query/components/QueryGroup.test.tsx
  public/app/features/serviceaccounts/components/ServiceAccountsListItem.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Parsing: export handleQuotes function
  public/app/plugins/datasource/loki/querybuilder/parsing.ts
Due: frontend-betterer, frontend-eslint, frontend-format

Modify query: add functions to detect the presence of a label and remove it
  public/app/plugins/datasource/loki/modifyQuery.ts
Due: frontend-betterer, frontend-eslint, frontend-format

Loki: add support to toggle filters if already present
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Due: frontend-betterer, frontend-eslint, frontend-format

Loki: add support to toggle filter out if present
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Due: frontend-betterer, frontend-eslint, frontend-format

Remove label: handle escaped values
  public/app/plugins/datasource/loki/modifyQuery.ts
Due: frontend-betterer, frontend-eslint, frontend-format

clean up sql, switch db columns that store json to text
  pkg/services/store/entity/migrations/entity_store_mig.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
Due: backend-format

first cut of query helper functions
  pkg/services/sqlstore/migrator/dialect.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
Due: backend-format

Add component for custom annotations
  public/app/features/alerting/unified/components/rule-editor/AnnotationsField.tsx
  public/app/features/alerting/unified/components/rule-editor/CustomAnnotationField.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

yarn run prettier:write
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
Due: frontend-format

fix toggle test
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
Due: backend-format

Display default annotations even if editing and they're empty
  public/app/features/alerting/unified/components/rule-editor/AnnotationsField.tsx
  public/app/features/alerting/unified/utils/constants.ts
  public/app/features/alerting/unified/utils/rule-form.ts
Due: frontend-betterer, frontend-eslint, frontend-format

Adjust tests
  public/app/features/alerting/unified/Receivers.test.tsx
  public/app/features/alerting/unified/components/rule-editor/AnnotationsField.test.tsx
  public/app/features/alerting/unified/components/rule-editor/AnnotationsField.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Make conditional rendering more clear
  public/app/features/alerting/unified/components/rule-editor/AnnotationsField.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Fix tests
  public/app/features/alerting/unified/Receivers.test.tsx
  public/app/features/alerting/unified/RuleEditorExisting.test.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Move annotation header to separate component
  public/app/features/alerting/unified/components/rule-editor/AnnotationHeaderField.tsx
  public/app/features/alerting/unified/components/rule-editor/AnnotationsField.tsx
Due: frontend-betterer, frontend-eslint, frontend-format
